<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>商城</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh_CN</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxbb290d121d8d9d7b</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>AliGXU</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppSecret</key>
	<string>038daae99168be7ab3d1e1776141053c</string>
	<key>MOBAppkey</key>
	<string>3222c53e07cee</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>App会在上传头像图片、客户服务服务中访问您的相机相册权限,您是否允许？</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>应用需要通过您的地理位置信息获取附近商家的位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>应用需要通过您的地理位置信息，获取您与商家的距离，请您允许！</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App会在客户服务服务中访问您的麦克风权限,您是否允许？</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App会在上传头像图片、客户服务服务中访问您的相机相册权限,您是否允许？</string>
	<key>NSPhotoLibraryUsageDesciption</key>
	<string>App会在上传头像图片、客户服务服务中访问您的相机相册权限,您是否允许？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App会在上传头像图片、客户服务服务中访问您的相机相册权限,您是否允许？</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
